class <%= component_class_name %> < Grsx::PhlexComponent
<% if slot_names.any? -%>
  slots <%= slot_names.map { |s| ":#{s}" }.join(", ") %>

<% end -%>
<% unless args.empty? -%>
  props <%= args.map { |a| ":#{a}" }.join(", ") %>
<% end -%>
<% if args.empty? -%>
  # props :title, :body, size: :md
<% end -%>
end
